<h1><%= @deck.name %></h1>
<%= link_to "Change deck name",edit_deck_path(@deck)  %>
<%= link_to "Delete this deck", @deck, method: :delete, data: {confirm: "Are you sure?"} %>




<% @cards.each_with_index do |card, index| %>
  <div class="card-product" >
    <div class="card-product-infos sentence-cards">
      <h2>(<%= index + 1%>)<%= card.sentence %></h2>
    </div>
    <div class="card-product-infos flip-card" >
      <div class="flip-card-inner" onclick="this.classList.toggle('flipped');">
        <div class="flip-card-front">
          <h2>Answer</h2>
        </div>
        <div class="flip-card-back">
          <h2><%= card.answer %></h2>
        </div>
      </div>
    </div>
    <div class="card-product-infos option-cards">
      <%= link_to "Change blank area",edit_deck_card_path(id: card.id)  %>
      <%= link_to "/Delete?", "/decks/#{@deck.id}/cards/#{card.id}", method: :delete, data: {confirm: "Are you sure?"}  %>
    </div>
  </div>
<% end %>



<h2>----------------------</h2>
<h3>Add card</h3>

<form action="/decks/<%= params[:deck_id] %>/cards/new" method="get">
  <input type="text" name="original" placeholder="Type sentence">
  <input type="submit">
</form>


<%= link_to "Back to Folders", decks_path  %>
<!-- <form class="new_card" id="new_card" action="/decks/:deck_id/cards" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="fUrBymmVzFG49YTQE9xKfohttEtW7eHnui2WT6KWpRXT6g9dz73lhZ7bRdHH+RuV/TFoB23OG5l1eo731o8l6g==">
  <label for="card_sentence">Name</label>
  <input type="text" name="card[original]" id="card_sentence">

  <input type="submit" name="commit" value="Add sentence" data-disable-with="Create Restaurant">
</form> -->




<!-- <table>
  <thead>
    <tr>
      <th style="text-align: center">0</th>
      <th style="text-align: center">1</th>
      <th style="text-align: center">2</th>
      <th style="text-align: center">3</th>
      <th style="text-align: center">4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center">S</td>
      <td style="text-align: center">a</td>
      <td style="text-align: center">m</td>
      <td style="text-align: center">m</td>
      <td style="text-align: center">y</td>
    </tr>
  </tbody>
</table> -->
